// Header:
$header-height: 54px;

// Content:
$completed-colour: #cdf9cd;
$outstanding-colour: #f9cdcd;
$table-alternate-colour: #f2f2f2;

$welcome-padding: 15px;
$welcome-top-margin: 1.5rem;
$card-card-action-vertical-padding: 16px;
$card-action-height: 9em;

$modal-footer-height: 56px;

$h5-vertical-margin: 0.72rem;
$h5-font-size: 1.64rem;

$btn-height: 36px;

$btn-icon-color: #AAA;

// Paddington Blues:
$paddington-blue-light: #1565c0;
$paddington-blue: #0d47a1;
$paddington-blue-dark: darken(#0d47a1, 5%);
