<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${ENVIRONMENT_NAME} %date %coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>


    <logger name="play" level="INFO"/>
    <logger name="application" level="DEBUG"/>
    <logger name="connector" level="DEBUG"/>
    <logger name="connector.marketo" level="DEBUG"/>
    <logger name="controllers" level="DEBUG"/>
    <logger name="repo" level="DEBUG"/>

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
