---
version: '3'
networks:
  default:
    external:
      name: haproxy_net
services:
  pda:
    image: intersection/link-mobile-observations:{{ version_tag }}
    deploy:
      placement:
        constraints: [node.role == worker]
      replicas: 2
      restart_policy:
        condition: any
        delay: 5s
        window: 30s
      update_config:
        parallelism: 1
        delay: 5s
        failure_action: rollback
    environment:
      - VIRTUAL_HOST=link-mobile-observations.{{ env }}
      - SERVICE_PORTS=9000
      - DD_API_KEY={{ dd_api_key }}
      - DD_APP_KEY={{ dd_app_key }}
      - SERVICE=link-mobile
      - APP=observations
      - ENV={{ env }}
    labels:
      com.intersection.app: observations
      com.intersection.env: '{{ env }}'
      com.intersection.service: link-mobile
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/health']
      timeout: 10s
    logging:
      driver: splunk
      options:
        splunk-url: https://{{ splunk_host }}:443
        splunk-token: "{{ splunk_token }}"
        labels: com.intersection.app,com.intersection.env,com.intersection.service