<!DOCTYPE html>
<html lang="en" class="index-page">
    <head>
        <meta charset="UTF-8">
        <title>Paddington</title>
        <link rel="stylesheet" href="./styles/main.css">
        <link rel="icon" href="./images/Paddington_Icon.png"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body id="body-index">
        <div id="index"></div>
        <script src="./scripts/external-deps.js"></script>
        <script src="./scripts/common-bundle.js"></script>
        <script src="./scripts/index-bundle.js"></script>
    </body>
</html>