
@( response: Response)

@import models.Observation
@import models.Response

<!DOCTYPE html>
<html lang="en" class="index-page">
    <head>
        <meta charset="UTF-8">
        <title>Paddington</title>
        <link rel="stylesheet" href="./styles/main.css">
        <link rel="icon" href="./images/Paddington_Icon.png"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body id="body-index">

        <table class="table--statement flush--bottom">

            @for(p <- response.means) {
                    <tr>
                        <td>Kmeans </td>
                        <td>@p._1.location.lat , @p._1.location.lon #@p._2</td>

                    </tr>
                }

            </tbody>
        </table>
        <table class="table--statement flush--bottom">

            @for(p <- response.idAds) {
                    <tr>
                        <td>ids </td>
                        <td>@p._1 -> @p._2</td>

                    </tr>
                }

            </tbody>
        </table>
        <table class="table--statement flush--bottom">

            @for(p <- response.idAdType) {
                <tr>
                    <td>ids type @p._1 -> @p._2</td>
                </tr>
            }

        </tbody>
        </table>
        <table class="table--statement flush--bottom">
            <thead>
                <tr>
                    <th> ID  </th>
                    <th> ID type </th>
                    <th >TS</th>
                    <th >long</th>
                    <th >lat</th>
                    <th >...</th>
                </tr>
            </thead>
            <tbody>
            @for(p <- response.observations) {
                    <tr>
                        <td>@p.id.value</td>
                        <td>@p.t</td>
                        <td>@p.toDate</td>
                        <td>@p.location.lon</td>
                        <td>@p.location.lat</td>
                        <td></td>

                    </tr>
                }

            </tbody>
        </table>



    </body>
</html>