<!DOCTYPE html>
<html lang="en" class="login-page">
    <head>
        <meta charset="UTF-8">
        <title>Paddington - Login</title>
        <link rel="stylesheet" href="./styles/main.css">
        <link rel="icon" href="./images/Paddington_Icon.png"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body id="body-login">
        <div id="login"></div>
        <br/>
        <canvas id="myChart" width="150" height="150"></canvas>
        <script src="./scripts/external-deps.js"></script>
        <script src="./scripts/common-bundle.js"></script>
        <script src="./scripts/login-bundle.js"></script>
    </body>
</html>